/* ---------------------------------------- statistics ----------------------------------------- */

.stats {
    width: 160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.stats input {
    width: 50px;
}


/* ---------------------------------------- game fields ---------------------------------------- */

.game-field {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.game-field .row {
    display: flex;
    align-items: center;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: url('/img/closed-field.png');
}

.game-field .row .open-field {
    height: 16px;
    width: 16px;
    background: url('/img/open-field.png');
}

.game-field .row .mine {
    height: 16px;
    width: 16px;
    background: url('/img/closed-field.png');
}

.game-field .row .flag {
    height: 16px;
    width: 16px;
    background: url('/img/flag.png');
}